In [2]:
import os
import pandas as pd
from mxnet import gluon, np
from d2l import mxnet as d2l

In [15]:
d2l.DATA_HUB['ml-100k'] = (
    'http://files.grouplens.org/datasets/movielens/ml-100k.zip',
    'cd4dcac4241c8a4ad7badc7ca635da8a69dddb83')

def movielens_1():
    data_dir = d2l.download_extract('ml-100k')
    names = ['user_id', 'movie_id', 'rating', 'timestamp']
    data = pd.read_csv(os.path.join(data_dir, 'u.data'), '\t', names=names,
                       engine='python')
    
    names2 = ['user_id', 'age', 'sex','job', 'code']
    user = pd.read_csv(os.path.join(data_dir, 'u.user'), '|', names=names2,
                       engine='python')
    
    names3 = ['movie_id', 'movie_name' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
    item = pd.read_csv(os.path.join(data_dir, 'u.item'), '|',names=names3,
        encoding = "ISO-8859-1", engine='python')
    
    quiz0 = pd.merge(data, item)
    quiz0 = pd.merge(quiz0, user)
     
    return quiz0

* 웹상에서 movielens 데이터를 다운받아서 read_scv를 통해서 해당 과제에 필요한 u.data, u.user, u.item 정보를 읽어온후 merge하여 return 해 줍니다.

In [26]:
quiz0 = movielens_1()

female0 = quiz0[quiz0['sex'] == 'F']
male0 = quiz0[quiz0['sex'] == 'M']

job_list = quiz0["job"].unique()
genre_list = ['unknown', 'Action', 'Adventure', 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

C:\Users\ache1\AppData\Local\Temp/ipykernel_34048/3937866704.py:1: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  quiz0 = movielens_1()

* quiz0은 필요한 모든 정보가 들어가 있는 dataframe
* female0은 여성인 참여자의 정보만 가지고 있는 dataframe
* male0은 남성인 참여자의 정보만 가지고 있는 dataframe
* job_list는 직업의 종류값들을 가진 리스트이다. (https://files.grouplens.org/datasets/movielens/ml-100k/u.occupation)
* genre_list는 장르의 종류값들을 가진 리스트이다.(https://files.grouplens.org/datasets/movielens/ml-100k/u.genre)

In [19]:
group1 = quiz0.groupby('movie_name')['rating'].agg(**{ 'count' : 'count' , 'mean' : 'mean' , 'many': 'max'}).reset_index()
group1 = group1.sort_values(['count'] , ascending = False)


all_user1= group1.sort_values(['many'] , ascending = False)
all_user1 = all_user1.head(100)
print("all user + highest number(2_a)\n")
print(all_user1[['movie_name' , 'many']])
print("\n")

all_user1= group1.sort_values(['mean'] , ascending = False)
all_user1 = all_user1.head(100)
print("all user + highest average(2_b)\n")
print(all_user1[['movie_name' , 'mean']])

all user + highest number(2_a)

                     movie_name  many
1398           Star Wars (1977)     5
669   Heaven's Prisoners (1996)     5
141      Beautiful Thing (1996)     5
396             Deceiver (1997)     5
730         If Lucy Fell (1996)     5
...                         ...   ...
1028           My Family (1995)     5
1094    Oliver & Company (1988)     5
1015   Mrs. Winterbourne (1996)     5
869        Little Buddha (1993)     5
202   Body Snatcher, The (1945)     5

[100 rows x 2 columns]


all user + highest average(2_b)

                                             movie_name      mean
462   Entertaining Angels: The Dorothy Day Story (1996)  5.000000
1273               Saint of Fort Washington, The (1993)  5.000000
944          Marlene Dietrich: Shadow and Light (1996)   5.000000
633                       Great Day in Harlem, A (1994)  5.000000
1472                     They Made Me a Criminal (1939)  5.000000
...                                                 ...       ...
97                          Arsenic and Old Lace (1944)  4.078261
1644                           Wizard of Oz, The (1939)  4.077236
610                                        Glory (1989)  4.076023
996              Monty Python and the Holy Grail (1974)  4.066456
1100                          Once Were Warriors (1994)  4.064516

[100 rows x 2 columns]

* 2_1(all user)
* 가장 높은 rating 리스트 출력(상위 100개)
* 평균 rating 출력(상위 100개)

In [20]:
group1 = female0.groupby('movie_name')['rating'].agg(**{ 'count' : 'count' , 'mean' : 'mean' , 'many': 'max'}).reset_index()
group1 = group1.sort_values(['count'] , ascending = False)
#group1 = group1.head(100)


female1= group1.sort_values(['many'] , ascending = False).head(100)
print("female + highest number(2_a)\n")
print(female1[['movie_name' , 'many']])
print("\n")

female1 = group1.sort_values(['mean'] , ascending = False).head(100)
print("female + highest average(2_b)\n")
print(female1[['movie_name' , 'mean']])

##########################################33

group1 = male0.groupby('movie_name')['rating'].agg(**{ 'count' : 'count' , 'mean' : 'mean' , 'many': 'max'}).reset_index()
group1 = group1.sort_values(['count'] , ascending = False)
#group1 = group1.head(100)

male1= group1.sort_values(['many'] , ascending = False).head(100)
print("male + highest number(2_a)\n")
print(all_user1[['movie_name' , 'many']])
print("\n")

male1= group1.sort_values(['mean'] , ascending = False).head(100)
print("male + highest average(2_b)\n")
print(male1[['movie_name' , 'mean']])

female + highest number(2_a)

                                           movie_name  many
428                       English Patient, The (1996)     5
1341                            That Darn Cat! (1997)     5
1352                            Third Man, The (1949)     5
558                                       Gigi (1958)     5
638   Homeward Bound II: Lost in San Francisco (1996)     5
...                                               ...   ...
1053                          Pillow Book, The (1995)     5
82                                Apostle, The (1997)     5
455                                     Fallen (1998)     5
258                                 Cat People (1982)     5
506                           Forbidden Planet (1956)     5

[100 rows x 2 columns]


female + highest average(2_b)

                               movie_name  mean
1513             Year of the Horse (1997)   5.0
1069                   Prefontaine (1997)   5.0
901                Mina Tannenbaum (1994)   5.0
1242        Someone Else's America (1995)   5.0
465   Faster Pussycat! Kill! Kill! (1965)   5.0
...                                   ...   ...
993                      Notorious (1946)   4.1
809                     Local Hero (1983)   4.1
683      In the Name of the Father (1993)   4.1
207                    Brassed Off (1996)   4.1
1315          Sweet Hereafter, The (1997)   4.1

[100 rows x 2 columns]
male + highest number(2_a)

                                             movie_name  many
462   Entertaining Angels: The Dorothy Day Story (1996)     5
1273               Saint of Fort Washington, The (1993)     5
944          Marlene Dietrich: Shadow and Light (1996)      5
633                       Great Day in Harlem, A (1994)     5
1472                     They Made Me a Criminal (1939)     5
...                                                 ...   ...
97                          Arsenic and Old Lace (1944)     5
1644                           Wizard of Oz, The (1939)     5
610                                        Glory (1989)     5
996              Monty Python and the Holy Grail (1974)     5
1100                          Once Were Warriors (1994)     5

[100 rows x 2 columns]


male + highest average(2_b)

                                             movie_name      mean
613                       Great Day in Harlem, A (1994)  5.000000
824                             Leading Man, The (1996)  5.000000
840                                  Little City (1998)  5.000000
1409                     They Made Me a Criminal (1939)  5.000000
447   Entertaining Angels: The Dorothy Day Story (1996)  5.000000
...                                                 ...       ...
908      Manon of the Spring (Manon des sources) (1986)  4.146341
1370                              Sum of Us, The (1994)  4.142857
615                            Great Escape, The (1963)  4.138614
878                                            M (1931)  4.135135
1422                           Three Colors: Red (1994)  4.134328

[100 rows x 2 columns]

* 2_2(female, male)
* 여성 : 가장 높은 rating을 받은 영화 100선 , 높은 평균 rating을 받는 영화 100선
* 남성 : 가장 높은 rating을 받은 영화 100선 , 높은 평균 rating을 받는 영화 100선

In [23]:
for name in job_list:
 job0 = quiz0[quiz0['job'] == name]
 job1 = job0.groupby('movie_name')['rating'].agg(**{ 'count' : 'count' , 'mean' : 'mean' , 'many': 'max'}).reset_index()
 job1 = job1.sort_values(['count'] , ascending = False)
 #group1 = group1.head(100)
 
 job2 = job1.sort_values(['many'] , ascending = False).head(100)
 print(name  + " highest number(2_a)\n")
 print(job2[['movie_name' , 'many']])
 print("\n")
    
 job2 = job1.sort_values(['mean'] , ascending = False).head(100)
 print(name + " highest average(2_b)\n")
 print(job2[['movie_name' , 'mean']])

writer highest number(2_a)

                     movie_name  many
345                Fargo (1996)     5
567                 Kids (1995)     5
7          39 Steps, The (1935)     5
898          Shadowlands (1993)     5
47               Amistad (1997)     5
...                         ...   ...
247   Courage Under Fire (1996)     5
446    Great Escape, The (1963)     5
608   Living in Oblivion (1995)     5
1045             Twisted (1996)     5
773      Peacemaker, The (1997)     5

[100 rows x 2 columns]


writer highest average(2_b)

                                       movie_name      mean
926       Some Folks Call It a Sling Blade (1993)  5.000000
1045                               Twisted (1996)  5.000000
863                         Romper Stomper (1992)  5.000000
426                       Glimmer Man, The (1996)  5.000000
1100                    White Balloon, The (1995)  5.000000
...                                           ...       ...
308                              Duck Soup (1933)  4.222222
689   Mrs. Brown (Her Majesty, Mrs. Brown) (1997)  4.200000
64                          Antonia's Line (1995)  4.200000
738                              Notorious (1946)  4.200000
313                           East of Eden (1955)  4.200000

[100 rows x 2 columns]
marketing highest number(2_a)

                                         movie_name  many
152                                  Contact (1997)     5
417  Midnight in the Garden of Good and Evil (1997)     5
46                                 Apt Pupil (1998)     5
634                       This Is Spinal Tap (1984)     5
652                            Trainspotting (1996)     5
..                                              ...   ...
146                           Close Shave, A (1995)     5
72                           Beautiful Thing (1996)     5
17                                   Aladdin (1992)     5
38                             Anna Karenina (1997)     5
159                             Crimson Tide (1995)     5

[100 rows x 2 columns]


marketing highest average(2_b)

                            movie_name      mean
702         Wrong Trousers, The (1993)  5.000000
476             Oscar & Lucinda (1997)  5.000000
397  Man Who Would Be King, The (1975)  5.000000
303                 Heavy Metal (1981)  5.000000
421      Miracle on 34th Street (1994)  5.000000
..                                 ...       ...
283               Graduate, The (1967)  4.166667
249                Forrest Gump (1994)  4.142857
124                  Casablanca (1942)  4.111111
365           L.A. Confidential (1997)  4.090909
607                   Star Wars (1977)  4.071429

[100 rows x 2 columns]
student highest number(2_a)

                                movie_name  many
1028                         Scream (1996)     5
512               Great Escape, The (1963)     5
408             Father of the Bride (1950)     5
230              Cement Garden, The (1993)     5
987                     Restoration (1995)     5
...                                    ...   ...
758                     Mary Reilly (1996)     5
23    Adventures of Robin Hood, The (1938)     5
1109                        Stalker (1979)     5
1100                     Speechless (1994)     5
1093                      Soul Food (1997)     5

[100 rows x 2 columns]


student highest average(2_b)

                                             movie_name      mean
117                              Beautiful Thing (1996)  5.000000
284                                Critical Care (1997)  5.000000
1021               Saint of Fort Washington, The (1993)  5.000000
488                                        Giant (1956)  5.000000
1024                          Santa with Muscles (1996)  5.000000
...                                                 ...       ...
190                Bridge on the River Kwai, The (1957)  4.272727
963                      Raiders of the Lost Ark (1981)  4.267442
1059                                       Shine (1996)  4.259259
189                        Bride of Frankenstein (1935)  4.250000
375   Englishman Who Went Up a Hill, But Came Down a...  4.250000

[100 rows x 2 columns]
other highest number(2_a)

                              movie_name  many
1029                    Star Wars (1977)     5
847              Pillow Book, The (1995)     5
708                 Meet John Doe (1941)     5
675   Madness of King George, The (1994)     5
943                     Screamers (1995)     5
...                                  ...   ...
822              Parent Trap, The (1961)     5
828                        Patton (1970)     5
472              Grand Day Out, A (1992)     5
196                Cable Guy, The (1996)     5
987        Smilla's Sense of Snow (1997)     5

[100 rows x 2 columns]


other highest average(2_b)

                                             movie_name      mean
298                               Delta of Venus (1994)  5.000000
621                                     Lamerica (1994)  5.000000
677                              Magic Hour, The (1998)  5.000000
718            Microcosmos: Le peuple de l'herbe (1996)  5.000000
83                               Assignment, The (1997)  5.000000
...                                                 ...       ...
1116                               Touch of Evil (1958)  4.333333
821   Paradise Lost: The Child Murders at Robin Hood...  4.333333
1173  Wallace & Gromit: The Best of Aardman Animatio...  4.333333
750                       Much Ado About Nothing (1993)  4.333333
707                                 Mediterraneo (1991)  4.333333

[100 rows x 2 columns]
administrator highest number(2_a)

                              movie_name  many
318          English Patient, The (1996)     5
192         Celluloid Closet, The (1995)     5
717  Once Upon a Time in the West (1969)     5
412                         Giant (1956)     5
413                          Gigi (1958)     5
..                                   ...   ...
937               Stealing Beauty (1996)     5
814                Reservoir Dogs (1992)     5
780             Professional, The (1994)     5
449              Harold and Maude (1971)     5
792                   Raging Bull (1980)     5

[100 rows x 2 columns]


administrator highest average(2_b)

                            movie_name      mean
1017        Trigger Effect, The (1996)  5.000000
772                 Prefontaine (1997)  5.000000
480                   Hugo Pool (1997)  5.000000
217              Close Shave, A (1995)  5.000000
71              Assignment, The (1997)  5.000000
...                                ...       ...
507       It's a Wonderful Life (1946)  4.470588
343                       Fargo (1996)  4.444444
780           Professional, The (1994)  4.444444
884   Silence of the Lambs, The (1991)  4.441176
69           As Good As It Gets (1997)  4.428571

[100 rows x 2 columns]
engineer highest number(2_a)

                        movie_name  many
899               Star Wars (1977)     5
866                   Smoke (1995)     5
474      I Shot Andy Warhol (1996)     5
225                Cop Land (1997)     5
324   Farewell My Concubine (1993)     5
...                            ...   ...
829      Secret Garden, The (1993)     5
658        Muriel's Wedding (1994)     5
982            True Romance (1993)     5
2              12 Angry Men (1957)     5
1055             Young Guns (1988)     5

[100 rows x 2 columns]


engineer highest average(2_b)

                                            movie_name      mean
840                           Shadow Conspiracy (1997)  5.000000
432                                      Harlem (1993)  5.000000
966                                Tom and Huck (1995)  5.000000
994  Umbrellas of Cherbourg, The (Parapluies de Che...  5.000000
552                                       Laura (1944)  5.000000
..                                                 ...       ...
74                                         Babe (1995)  4.142857
344                        Fish Called Wanda, A (1988)  4.142857
757                                Pulp Fiction (1994)  4.138889
402                     Godfather: Part II, The (1974)  4.125000
254                          Dead Poets Society (1989)  4.115385

[100 rows x 2 columns]
educator highest number(2_a)

                                         movie_name  many
351                     English Patient, The (1996)     5
689  Manon of the Spring (Manon des sources) (1986)     5
111                          Beautiful Thing (1996)     5
96                                   Bananas (1971)     5
912                                  Rob Roy (1995)     5
..                                              ...   ...
971                Six Degrees of Separation (1993)     5
698                                Mask, The (1994)     5
646                               Local Hero (1983)     5
383                      Father of the Bride (1950)     5
67                            Antonia's Line (1995)     5

[100 rows x 2 columns]


educator highest average(2_b)

                                             movie_name      mean
1025  Strawberry and Chocolate (Fresa y chocolate) (...  5.000000
1028                                     Stripes (1981)  5.000000
243                             City of Industry (1997)  5.000000
224          Cemetery Man (Dellamorte Dellamore) (1994)  5.000000
415                               For the Moment (1994)  5.000000
...                                                 ...       ...
890                                      Rebecca (1940)  4.363636
1143                                     Vertigo (1958)  4.363636
962                    Shawshank Redemption, The (1994)  4.344828
24                            African Queen, The (1951)  4.333333
1062                         Thin Blue Line, The (1988)  4.333333

[100 rows x 2 columns]
homemaker highest number(2_a)

                      movie_name  many
74      Good Will Hunting (1997)     5
110               Michael (1996)     5
175               Twister (1996)     5
101     L.A. Confidential (1997)     5
91              Jane Eyre (1996)     5
..                           ...   ...
100    Kull the Conqueror (1997)     4
137        Rainmaker, The (1997)     4
135  Preacher's Wife, The (1996)     4
35           Dante's Peak (1997)     4
76          Happy Gilmore (1996)     4

[100 rows x 2 columns]


homemaker highest average(2_b)

                          movie_name  mean
21                 Braveheart (1995)   5.0
168                   Tin Cup (1996)   5.0
88      It's a Wonderful Life (1946)   5.0
83            In Love and War (1996)   5.0
51   Everyone Says I Love You (1996)   5.0
..                               ...   ...
50          Evening Star, The (1996)   3.0
23             Cable Guy, The (1996)   3.0
46   Empire Strikes Back, The (1980)   3.0
99                      Kolya (1996)   3.0
44                  Edge, The (1997)   3.0

[100 rows x 2 columns]
librarian highest number(2_a)

                                 movie_name  many
299             English Patient, The (1996)     5
401  Good, The Bad and The Ugly, The (1966)     5
776                          Rob Roy (1995)     5
884        Streetcar Named Desire, A (1951)     5
876                  Stealing Beauty (1996)     5
..                                      ...   ...
444                      Hoop Dreams (1994)     5
421                 Harold and Maude (1971)     5
949                     Trees Lounge (1996)     5
417                 Grumpier Old Men (1995)     5
32                     All About Eve (1950)     5

[100 rows x 2 columns]


librarian highest average(2_b)

                           movie_name      mean
241           Daytrippers, The (1996)  5.000000
890             Sum of Us, The (1994)  5.000000
530   Letter From Death Row, A (1998)  5.000000
159                  Cabin Boy (1994)  5.000000
536                Little City (1998)  5.000000
...                               ...       ...
746      Raise the Red Lantern (1991)  4.285714
229              Crucible, The (1996)  4.285714
920        Three Colors: White (1994)  4.285714
835                Sling Blade (1996)  4.285714
1023       Wrong Trousers, The (1993)  4.272727

[100 rows x 2 columns]
executive highest number(2_a)

                                     movie_name  many
204                              Contact (1997)     5
940                  Trigger Effect, The (1996)     5
2                           12 Angry Men (1957)     5
255                    Dial M for Murder (1954)     5
131                                Bound (1996)     5
..                                          ...   ...
581                            Manhattan (1979)     5
863         Star Trek: The Wrath of Khan (1982)     5
389                   Gone with the Wind (1939)     5
856  Star Trek III: The Search for Spock (1984)     5
234                                 Dave (1993)     5

[100 rows x 2 columns]


executive highest average(2_b)

                             movie_name      mean
43                    Angel Baby (1995)  5.000000
287              Enchanted April (1991)  5.000000
805                Shallow Grave (1994)  5.000000
490             Jean de Florette (1986)  5.000000
339      For Whom the Bell Tolls (1943)  5.000000
..                                  ...       ...
814                   Short Cuts (1993)  4.333333
433                   Highlander (1986)  4.333333
889         Swimming with Sharks (1995)  4.333333
786  Searching for Bobby Fischer (1993)  4.333333
917            Three Colors: Red (1994)  4.333333

[100 rows x 2 columns]
technician highest number(2_a)

                                      movie_name  many
762                             Star Wars (1977)     5
781                              Swingers (1996)     5
719                   Singin' in the Rain (1952)     5
885  Winnie the Pooh and the Blustery Day (1968)     5
891                   Wrong Trousers, The (1993)     5
..                                           ...   ...
47                              Apt Pupil (1998)     5
723                              Sleepers (1996)     5
474                             Lone Star (1996)     5
383                           Hoop Dreams (1994)     5
511                       MatchMaker, The (1997)     5

[100 rows x 2 columns]


technician highest average(2_b)

                                            movie_name      mean
469                          Little Princess, A (1995)  5.000000
121                          Breaking the Waves (1996)  5.000000
714                                       Shine (1996)  5.000000
318                           Gay Divorcee, The (1934)  5.000000
711  Shanghai Triad (Yao a yao yao dao waipo qiao) ...  5.000000
..                                                 ...       ...
159                  City of Lost Children, The (1995)  4.333333
216                          Desperate Measures (1998)  4.333333
854                         Usual Suspects, The (1995)  4.333333
726                                 Sling Blade (1996)  4.333333
582                          North by Northwest (1959)  4.333333

[100 rows x 2 columns]
retired highest number(2_a)

                     movie_name  many
231                Fargo (1996)     5
90             Boot, Das (1981)     5
556          Rear Window (1954)     5
381   Lawrence of Arabia (1962)     5
410  Maltese Falcon, The (1941)     5
..                          ...   ...
126            Chinatown (1974)     5
429         Men in Black (1997)     5
652            Star Wars (1977)     5
76         Birdcage, The (1996)     5
224             Face/Off (1997)     5

[100 rows x 2 columns]


retired highest average(2_b)

                                          movie_name  mean
452      Mrs. Brown (Her Majesty, Mrs. Brown) (1997)   5.0
351                     It Happened One Night (1934)   5.0
12                         African Queen, The (1951)   5.0
752                       Wrong Trousers, The (1993)   5.0
727                       Weekend at Bernie's (1989)   5.0
..                                               ...   ...
15                                      Akira (1988)   4.0
702                             Twelfth Night (1996)   4.0
630                       So Dear to My Heart (1949)   4.0
674  Thirty-Two Short Films About Glenn Gould (1993)   4.0
659                           Substitute, The (1996)   4.0

[100 rows x 2 columns]
scientist highest number(2_a)

                                          movie_name  many
567                                 Star Wars (1977)     5
470                     Raise the Red Lantern (1991)     5
92                         Breaking the Waves (1996)     5
328                       Killing Fields, The (1984)     5
334                             Koyaanisqatsi (1983)     5
..                                               ...   ...
61                                Being There (1979)     5
596                       Three Colors: White (1994)     5
152                        Dances with Wolves (1990)     5
595                         Three Colors: Red (1994)     5
516  Seventh Seal, The (Sjunde inseglet, Det) (1957)     5

[100 rows x 2 columns]


scientist highest average(2_b)

                                       movie_name      mean
499  Rosencrantz and Guildenstern Are Dead (1990)  5.000000
431                                Orlando (1993)  5.000000
363              Manchurian Candidate, The (1962)  5.000000
361             Man Who Would Be King, The (1975)  5.000000
484                         Reservoir Dogs (1992)  5.000000
..                                            ...       ...
587                        Terminator, The (1984)  4.111111
83                               Boot, Das (1981)  4.111111
87                              Braveheart (1995)  4.111111
563               Star Trek: First Contact (1996)  4.100000
24         American Werewolf in London, An (1981)  4.000000

[100 rows x 2 columns]
entertainment highest number(2_a)

                                            movie_name  many
146                                 Chasing Amy (1997)     5
9                                    Abyss, The (1989)     5
216                                        Diva (1981)     5
394                                Jackie Brown (1997)     5
40                                   Annie Hall (1977)     5
..                                                 ...   ...
114                          Breaking the Waves (1996)     5
119                               Bronx Tale, A (1993)     5
788  Wallace & Gromit: The Best of Aardman Animatio...     5
636                       Sense and Sensibility (1995)     5
25                          Alien: Resurrection (1997)     5

[100 rows x 2 columns]


entertainment highest average(2_b)

                              movie_name  mean
742            To Be or Not to Be (1942)   5.0
461   Madness of King George, The (1994)   5.0
539  Once Upon a Time in the West (1969)   5.0
33          American in Paris, An (1951)   5.0
612                       Rob Roy (1995)   5.0
..                                   ...   ...
609              Right Stuff, The (1983)   4.5
799       When Harry Met Sally... (1989)   4.5
46                      Apt Pupil (1998)   4.5
318              Grand Day Out, A (1992)   4.5
105                     Boot, Das (1981)   4.5

[100 rows x 2 columns]
healthcare highest number(2_a)

                                  movie_name  many
1068                        Star Wars (1977)     5
377                Executive Decision (1996)     5
390                          Fantasia (1940)     5
1037                  Sophie's Choice (1982)     5
344                         Duck Soup (1933)     5
...                                      ...   ...
907                        Quest, The (1996)     5
23                      Air Force One (1997)     5
429                  Forbidden Planet (1956)     5

* 2_3(job)
* 직업별 : 가장 높은 rating을 받은 영화 100선 , 높은 평균 rating을 받는 영화 100선

In [28]:
for name in genre_list:
 quiz01 = quiz0[quiz0[name] == 1]
 group2 = quiz01.groupby('movie_name')['rating'].agg(**{ 'count' : 'count' , 'mean' : 'mean' , 'many': 'max'}).reset_index()
 all_user2 = group2.sort_values(['count'] , ascending = False)
 print(name + " all user + genre + count \n")   
 print(all_user2[['movie_name' , 'count']])
 print("\n")

 all_user2 = group2.sort_values(['mean'] , ascending = False)
 print(name + " all user + genre + average \n")   
 print(all_user2[['movie_name' , 'mean']])
 print("\n")

unknown all user + genre + count

            movie_name  count
1              unknown      9
0  Good Morning (1971)      1


unknown all user + genre + average

            movie_name      mean
1              unknown  3.444444
0  Good Morning (1971)  1.000000


Action all user + genre + count

                                            movie_name  count
207                                   Star Wars (1977)    583
181                          Return of the Jedi (1983)    507
4                                 Air Force One (1997)    431
115                      Independence Day (ID4) (1996)    429
179                     Raiders of the Lost Ark (1981)    420
..                                                 ...    ...
129                            King of New York (1990)      1
173  Police Story 4: Project S (Chao ji ji hua) (1993)      1
26                                 Bird of Prey (1996)      1
174                                    Power 98 (1995)      1
131                              Lashou shentan (1992)      1

[249 rows x 2 columns]


Action all user + genre + average

                                      movie_name      mean
207                             Star Wars (1977)  4.358491
94                         Godfather, The (1972)  4.283293
179               Raiders of the Lost Ark (1981)  4.252381
230                               Titanic (1997)  4.245714
69               Empire Strikes Back, The (1980)  4.204360
..                                           ...       ...
131                        Lashou shentan (1992)  1.000000
174                              Power 98 (1995)  1.000000
129                      King of New York (1990)  1.000000
108                    Hostile Intentions (1994)  1.000000
0    3 Ninjas: High Noon At Mega Mountain (1998)  1.000000

[249 rows x 2 columns]


Adventure all user + genre + count

                          movie_name  count
112                 Star Wars (1977)    583
93         Return of the Jedi (1983)    507
92    Raiders of the Lost Ark (1981)    420
94                  Rock, The (1996)    378
35   Empire Strikes Back, The (1980)    367
..                               ...    ...
103                  Star Kid (1997)      3
53            Golden Earrings (1947)      2
55      Good Man in Africa, A (1994)      2
119              Time Tracers (1995)      2
131          Wings of Courage (1995)      1

[133 rows x 2 columns]


Adventure all user + genre + average

                                         movie_name      mean
103                                 Star Kid (1997)  5.000000
112                                Star Wars (1977)  4.358491
92                   Raiders of the Lost Ark (1981)  4.252381
74                        Lawrence of Arabia (1962)  4.231214
35                  Empire Strikes Back, The (1980)  4.204360
..                                              ...       ...
96   Second Jungle Book: Mowgli & Baloo, The (1997)  2.000000
82               Mortal Kombat: Annihilation (1997)  1.953488
123             Turbo: A Power Rangers Movie (1997)  1.800000
50                  Free Willy 3: The Rescue (1997)  1.740741
119                             Time Tracers (1995)  1.500000

[133 rows x 2 columns]


Animation all user + genre + count

                                           movie_name  count
37                                   Toy Story (1995)    452
26                              Lion King, The (1994)    220
1                                      Aladdin (1992)    219
8                         Beauty and the Beast (1991)    202
14                                    Fantasia (1940)    174
32             Snow White and the Seven Dwarfs (1937)    172
9              Beavis and Butt-head Do America (1996)    156
11                                  Cinderella (1950)    129
23                Hunchback of Notre Dame, The (1996)    127
24                   James and the Giant Peach (1996)    126
13                                       Dumbo (1941)    123
41                         Wrong Trousers, The (1993)    118
12                              Close Shave, A (1995)    112
30                                   Pinocchio (1940)    101
33                                   Space Jam (1996)     93
35                     Sword in the Stone, The (1963)     82
3                          Alice in Wonderland (1951)     81
40        Winnie the Pooh and the Blustery Day (1968)     75
21                                 Heavy Metal (1981)     73
39  Wallace & Gromit: The Best of Aardman Animatio...     67
19                            Grand Day Out, A (1992)     66
22                                    Hercules (1997)     66
5                                    Anastasia (1997)     66
16                      Fox and the Hound, The (1981)     61
6                              Aristocats, The (1970)     54
31                                  Pocahontas (1995)     51
0                                        Akira (1988)     50
29                               Pete's Dragon (1977)     43
38                Transformers: The Movie, The (1986)     32
10                            Cats Don't Dance (1997)     32
17         Ghost in the Shell (Kokaku kidotai) (1995)     26
2              Aladdin and the King of Thieves (1996)     26
27                            Oliver & Company (1988)     22
36                       Three Caballeros, The (1945)     22
18                              Goofy Movie, A (1995)     20
7                                        Balto (1995)     16
4                      All Dogs Go to Heaven 2 (1996)     15
28                             Pagemaster, The (1994)     12
34                          Swan Princess, The (1994)      7
25  Land Before Time III: The Time of the Great Gi...      6
20                            Gumby: The Movie (1995)      5
15                                       Faust (1994)      5


Animation all user + genre + average

                                           movie_name      mean
12                              Close Shave, A (1995)  4.491071
41                         Wrong Trousers, The (1993)  4.466102
39  Wallace & Gromit: The Best of Aardman Animatio...  4.447761
15                                       Faust (1994)  4.200000
19                            Grand Day Out, A (1992)  4.106061
37                                   Toy Story (1995)  3.878319
1                                      Aladdin (1992)  3.812785
40        Winnie the Pooh and the Blustery Day (1968)  3.800000
8                         Beauty and the Beast (1991)  3.792079
26                              Lion King, The (1994)  3.781818
14                                    Fantasia (1940)  3.770115
32             Snow White and the Seven Dwarfs (1937)  3.709302
30                                   Pinocchio (1940)  3.673267
3                          Alice in Wonderland (1951)  3.666667
17         Ghost in the Shell (Kokaku kidotai) (1995)  3.653846
11                                  Cinderella (1950)  3.581395
22                                    Hercules (1997)  3.515152
13                                       Dumbo (1941)  3.495935
5                                    Anastasia (1997)  3.424242
0                                        Akira (1988)  3.380000
23                Hunchback of Notre Dame, The (1996)  3.377953
35                     Sword in the Stone, The (1963)  3.329268
36                       Three Caballeros, The (1945)  3.272727
21                                 Heavy Metal (1981)  3.260274
16                      Fox and the Hound, The (1981)  3.147541
6                              Aristocats, The (1970)  3.129630
24                   James and the Giant Peach (1996)  3.126984
7                                        Balto (1995)  3.000000
18                              Goofy Movie, A (1995)  2.900000
34                          Swan Princess, The (1994)  2.857143
2              Aladdin and the King of Thieves (1996)  2.846154
10                            Cats Don't Dance (1997)  2.843750
38                Transformers: The Movie, The (1986)  2.843750
9              Beavis and Butt-head Do America (1996)  2.788462
33                                   Space Jam (1996)  2.774194
27                            Oliver & Company (1988)  2.772727
29                               Pete's Dragon (1977)  2.720930
20                            Gumby: The Movie (1995)  2.600000
31                                  Pocahontas (1995)  2.529412
28                             Pagemaster, The (1994)  2.250000
4                      All Dogs Go to Heaven 2 (1996)  1.866667
25  Land Before Time III: The Time of the Great Gi...  1.666667


Children's all user + genre + count

                                       movie_name  count
111                              Toy Story (1995)    452
116  Willy Wonka and the Chocolate Factory (1971)    326
31              E.T. the Extra-Terrestrial (1982)    300
118                      Wizard of Oz, The (1939)    246
70                          Lion King, The (1994)    220
..                                            ...    ...
100                    So Dear to My Heart (1949)      4
24                                   Buddy (1997)      4
102                               Star Kid (1997)      3
98                          Simple Wish, A (1997)      3
29          Daniel Defoe's Robinson Crusoe (1996)      2

[120 rows x 2 columns]


Children's all user + genre + average

                                            movie_name      mean
102                                    Star Kid (1997)  5.000000
118                           Wizard of Oz, The (1939)  4.077236
16                                         Babe (1995)  3.995434
111                                   Toy Story (1995)  3.878319
31                   E.T. the Extra-Terrestrial (1982)  3.833333
..                                                 ...       ...
113                Turbo: A Power Rangers Movie (1997)  1.800000
45                     Free Willy 3: The Rescue (1997)  1.740741
68   Land Before Time III: The Time of the Great Gi...  1.666667
98                               Simple Wish, A (1997)  1.666667
2          3 Ninjas: High Noon At Mega Mountain (1998)  1.000000

[120 rows x 2 columns]


Comedy all user + genre + count

                                       movie_name  count
258                              Liar Liar (1997)    485
455                              Toy Story (1995)    452
31                      Back to the Future (1985)    350
489  Willy Wonka and the Chocolate Factory (1971)    326
358                    Princess Bride, The (1987)    324
..                                            ...    ...
406                              Sleepover (1995)      1
421                   Stefano Quantestorie (1993)      1
433                                Tainted (1998)      1
444         Three Lives and Only One Death (1996)      1
501            Á köldum klaka (Cold Fever) (1994)      1

[502 rows x 2 columns]


Comedy all user + genre + average

                                     movie_name      mean
391                   Santa with Muscles (1996)  5.000000
97                        Close Shave, A (1995)  4.491071
495                  Wrong Trousers, The (1993)  4.466102
337                   North by Northwest (1959)  4.284916
400                      Shall We Dance? (1996)  4.260870
..                                          ...       ...
175             Getting Away With Murder (1996)  1.000000
474    Vie est belle, La (Life is Rosey) (1987)  1.000000
421                 Stefano Quantestorie (1993)  1.000000
141                Falling in Love Again (1980)  1.000000
335  Nobody Loves Me (Keiner liebt mich) (1994)  1.000000

[502 rows x 2 columns]


Crime all user + genre + count

                             movie_name  count
30                         Fargo (1996)    508
34                Godfather, The (1972)    413
79                  Pulp Fiction (1994)    394
58             L.A. Confidential (1997)    297
104          Usual Suspects, The (1995)    267
..                                  ...    ...
23                         Cyclo (1995)      1
45            He Walked by Night (1948)      1
73                   Normal Life (1996)      1
55              King of New York (1990)      1
54   Killer: A Journal of Murder (1995)      1

[107 rows x 2 columns]


Crime all user + genre + average

                             movie_name      mean
95       They Made Me a Criminal (1939)  5.000000
104          Usual Suspects, The (1995)  4.385768
61      Letter From Death Row, A (1998)  4.333333
34                Godfather, The (1972)  4.283293
21                     Crossfire (1947)  4.250000
..                                  ...       ...
49           Innocent Sleep, The (1995)  2.000000
100  Truth or Consequences, N.M. (1997)  2.000000
3           Angel on My Shoulder (1946)  2.000000
59                Lashou shentan (1992)  1.000000
55              King of New York (1990)  1.000000

[107 rows x 2 columns]


Documentary all user + genre + count

                                           movie_name  count
21                                 Hoop Dreams (1994)    117
9                                        Crumb (1994)     81
8                        Celluloid Closet, The (1995)     56
28                         Looking for Richard (1996)     55
24                               Koyaanisqatsi (1983)     53
46                          When We Were Kings (1996)     44
41                         Thin Blue Line, The (1988)     35
14                Fast, Cheap & Out of Control (1997)     32
36                            Paris Is Burning (1990)     27
33           Microcosmos: Le peuple de l'herbe (1996)     24
2                        Anne Frank Remembered (1995)     21
35  Paradise Lost: The Child Murders at Robin Hood...     20
42    Thirty-Two Short Films About Glenn Gould (1993)     18
29                      Madonna: Truth or Dare (1991)     17
19    Haunted World of Edward D. Wood Jr., The (1995)     15
20              Heidi Fleiss: Hollywood Madam (1995)      13
44                                    Unzipped (1995)     11
11                       Endless Summer 2, The (1994)     10
47  Wonderful, Horrible Life of Leni Riefenstahl, ...     10
48                                  Wonderland (1997)     10
45                               War Room, The (1993)      9
30                             Man of the Year (1995)      9
3                    Ayn Rand: A Sense of Life (1997)      7
49                           Year of the Horse (1997)      7
39                              Rhyme & Reason (1997)      5
5   Brother Minister: The Assassination of Malcolm...      5
38                        Perfect Candidate, A (1996)      4
32             Maya Lin: A Strong Clear Vision (1994)      4
0                       Across the Sea of Time (1995)      4
25  Last Klezmer: Leopold Kozlowski, His Life and ...      4
17                               Grateful Dead (1995)      4
7                                      Catwalk (1995)      3
6       Carmen Miranda: Bananas Is My Business (1994)      2
12                                     Everest (1998)      2
40                                   Show, The (1995)      2
27               Line King: Al Hirschfeld, The (1996)      2
34                                   Nico Icon (1995)      2
1                               American Dream (1990)      2
18                      Great Day in Harlem, A (1994)      1
37                           Paris Was a Woman (1995)      1
22          JLG/JLG - autoportrait de décembre (1994)      1
26                            Leopard Son, The (1996)      1
15                        Fire on the Mountain (1996)      1
13       Eye of Vichy, The (Oeil de Vichy, L') (1993)      1
43         Tigrero: A Film That Was Never Made (1994)      1
23                              Jupiter's Wife (1994)      1
10                                    Dadetown (1995)      1
31         Marlene Dietrich: Shadow and Light (1996)       1
4                                 Big One, The (1997)      1
16                 Gate of Heavenly Peace, The (1995)      1


Documentary all user + genre + average

                                           movie_name      mean
31         Marlene Dietrich: Shadow and Light (1996)   5.000000
18                      Great Day in Harlem, A (1994)  5.000000
12                                     Everest (1998)  4.500000
32             Maya Lin: A Strong Clear Vision (1994)  4.500000
21                                 Hoop Dreams (1994)  4.094017
35  Paradise Lost: The Child Murders at Robin Hood...  4.050000
46                          When We Were Kings (1996)  4.045455
34                                   Nico Icon (1995)  4.000000
23                              Jupiter's Wife (1994)  4.000000
38                        Perfect Candidate, A (1996)  4.000000
16                 Gate of Heavenly Peace, The (1995)  4.000000
47  Wonderful, Horrible Life of Leni Riefenstahl, ...  4.000000
42    Thirty-Two Short Films About Glenn Gould (1993)  3.944444
8                        Celluloid Closet, The (1995)  3.892857
2                        Anne Frank Remembered (1995)  3.857143
36                            Paris Is Burning (1990)  3.814815
9                                        Crumb (1994)  3.790123
41                         Thin Blue Line, The (1988)  3.771429
33           Microcosmos: Le peuple de l'herbe (1996)  3.750000
19    Haunted World of Edward D. Wood Jr., The (1995)  3.733333
28                         Looking for Richard (1996)  3.727273
44                                    Unzipped (1995)  3.545455
17                               Grateful Dead (1995)  3.500000
24                               Koyaanisqatsi (1983)  3.490566
14                Fast, Cheap & Out of Control (1997)  3.437500
45                               War Room, The (1993)  3.333333
49                           Year of the Horse (1997)  3.285714
48                                  Wonderland (1997)  3.200000
3                    Ayn Rand: A Sense of Life (1997)  3.142857
30                             Man of the Year (1995)  3.111111
40                                   Show, The (1995)  3.000000
37                           Paris Was a Woman (1995)  3.000000
25  Last Klezmer: Leopold Kozlowski, His Life and ...  3.000000
4                                 Big One, The (1997)  3.000000
5   Brother Minister: The Assassination of Malcolm...  3.000000
10                                    Dadetown (1995)  3.000000
15                        Fire on the Mountain (1996)  3.000000
27               Line King: Al Hirschfeld, The (1996)  3.000000
0                       Across the Sea of Time (1995)  2.750000
20              Heidi Fleiss: Hollywood Madam (1995)   2.692308
11                       Endless Summer 2, The (1994)  2.500000
1                               American Dream (1990)  2.500000
29                      Madonna: Truth or Dare (1991)  2.470588
39                              Rhyme & Reason (1997)  2.200000
6       Carmen Miranda: Bananas Is My Business (1994)  1.500000
7                                      Catwalk (1995)  1.333333
43         Tigrero: A Film That Was Never Made (1994)  1.000000
22          JLG/JLG - autoportrait de décembre (1994)  1.000000
26                            Leopard Son, The (1996)  1.000000
13       Eye of Vichy, The (Oeil de Vichy, L') (1993)  1.000000


Drama all user + genre + count

                                            movie_name  count
131                                     Contact (1997)    509
210                                       Fargo (1996)    508
196                        English Patient, The (1996)    481
261                              Godfather, The (1972)    413
507                                Pulp Fiction (1994)    394
..                                                 ...    ...

* 3_1(all_user)
* 해당 장르의 영화 리스트들을 모은 후
* 가장 많이 선택한(popular) , 평균 rating 리스트를 순서대로 보여준다.

In [29]:
for name in genre_list:
 quiz01 = female0[female0[name] == 1]
 group2 = quiz01.groupby('movie_name')['rating'].agg(**{ 'count' : 'count' , 'mean' : 'mean' , 'many': 'max'}).reset_index()
 female2 = group2.sort_values(['count'] , ascending = False)
 print(name + " female + genre + count \n")   
 print(female2[['movie_name' , 'count']])
 print("\n")

 female2 = group2.sort_values(['mean'] , ascending = False)
 print(name + " female + genre + average \n")   
 print(female2[['movie_name' , 'mean']])
 print("\n")

    
#######################################

for name in genre_list:
 quiz01 = male0[female0[name] == 1]
 group2 = quiz01.groupby('movie_name')['rating'].agg(**{ 'count' : 'count' , 'mean' : 'mean' , 'many': 'max'}).reset_index()
 male2 = group2.sort_values(['count'] , ascending = False)
 print(name + " male + count \n")   
 print(male2[['movie_name' , 'count']])
 print("\n")

 male2 = group2.sort_values(['mean'] , ascending = False)
 print(name + " male + average \n")   
 print(male2[['movie_name' , 'mean']])
 print("\n")

unknown female + genre + count

  movie_name  count
0    unknown      2


unknown female + genre + average

  movie_name  mean
0    unknown   3.5


Action female + genre + count

                              movie_name  count
194                     Star Wars (1977)    151
4                   Air Force One (1997)    126
171            Return of the Jedi (1983)    124
111        Independence Day (ID4) (1996)    106
91                 Godfather, The (1972)    105
..                                   ...    ...
140                  Maximum Risk (1996)      1
141                 Men With Guns (1997)      1
125                Lashou shentan (1992)      1
103  Highlander III: The Sorcerer (1994)      1
209                 The Courtyard (1995)      1

[229 rows x 2 columns]


Action female + genre + average

                                      movie_name      mean
76           Faster Pussycat! Kill! Kill! (1965)  5.000000
212                               Titanic (1997)  4.278846
177                            Set It Off (1996)  4.250000
194                             Star Wars (1977)  4.245033
83                          Fugitive, The (1993)  4.166667
..                                           ...       ...
118                       Jerky Boys, The (1994)  1.000000
209                         The Courtyard (1995)  1.000000
107                           Hunted, The (1995)  1.000000
104                    Hostile Intentions (1994)  1.000000
0    3 Ninjas: High Noon At Mega Mountain (1998)  1.000000

[229 rows x 2 columns]


Adventure female + genre + count

                                       movie_name  count
109                              Star Wars (1977)    151
91                      Return of the Jedi (1983)    124
90                 Raiders of the Lost Ark (1981)     95
125  Willy Wonka and the Chocolate Factory (1971)     93
92                               Rock, The (1996)     91
..                                            ...    ...
55                             Hard Target (1993)      2
21                                   Buddy (1997)      1
19          Big Blue, The (Grand bleu, Le) (1988)      1
76                            Maximum Risk (1996)      1
95     Secret Adventures of Tom Thumb, The (1993)      1

[127 rows x 2 columns]


Adventure female + genre + average

                                     movie_name      mean
109                            Star Wars (1977)  4.245033
126                    Wizard of Oz, The (1939)  4.159420
90               Raiders of the Lost Ark (1981)  4.084211
87                   Princess Bride, The (1987)  4.044944
91                    Return of the Jedi (1983)  4.008065
..                                          ...       ...
55                           Hard Target (1993)  2.000000
80           Mortal Kombat: Annihilation (1997)  1.888889
12                            Barbarella (1968)  1.800000
19        Big Blue, The (Grand bleu, Le) (1988)  1.000000
95   Secret Adventures of Tom Thumb, The (1993)  1.000000

[127 rows x 2 columns]


Animation female + genre + count

                                           movie_name  count
36                                   Toy Story (1995)    119
25                              Lion King, The (1994)     65
8                         Beauty and the Beast (1991)     61
1                                      Aladdin (1992)     59
14                                    Fantasia (1940)     51
31             Snow White and the Seven Dwarfs (1937)     50
11                                  Cinderella (1950)     44
23                   James and the Giant Peach (1996)     35
22                Hunchback of Notre Dame, The (1996)     35
13                                       Dumbo (1941)     32
3                          Alice in Wonderland (1951)     31
29                                   Pinocchio (1940)     29
9              Beavis and Butt-head Do America (1996)     29
5                                    Anastasia (1997)     27
40                         Wrong Trousers, The (1993)     27
39        Winnie the Pooh and the Blustery Day (1968)     24
6                              Aristocats, The (1970)     23
34                     Sword in the Stone, The (1963)     22
15                      Fox and the Hound, The (1981)     21
21                                    Hercules (1997)     21
12                              Close Shave, A (1995)     19
32                                   Space Jam (1996)     18
28                               Pete's Dragon (1977)     17
18                            Grand Day Out, A (1992)     16
38  Wallace & Gromit: The Best of Aardman Animatio...     15
30                                  Pocahontas (1995)     13
2              Aladdin and the King of Thieves (1996)     13
20                                 Heavy Metal (1981)     12
10                            Cats Don't Dance (1997)      9
7                                        Balto (1995)      9
26                            Oliver & Company (1988)      8
0                                        Akira (1988)      8
27                             Pagemaster, The (1994)      6
17                              Goofy Movie, A (1995)      5
33                          Swan Princess, The (1994)      4
16         Ghost in the Shell (Kokaku kidotai) (1995)      4
35                       Three Caballeros, The (1945)      4
4                      All Dogs Go to Heaven 2 (1996)      4
37                Transformers: The Movie, The (1986)      3
24  Land Before Time III: The Time of the Great Gi...      2
19                            Gumby: The Movie (1995)      1


Animation female + genre + average

                                           movie_name      mean
12                              Close Shave, A (1995)  4.631579
38  Wallace & Gromit: The Best of Aardman Animatio...  4.533333
40                         Wrong Trousers, The (1993)  4.444444
18                            Grand Day Out, A (1992)  4.250000
39        Winnie the Pooh and the Blustery Day (1968)  4.041667
14                                    Fantasia (1940)  3.980392
1                                      Aladdin (1992)  3.949153
8                         Beauty and the Beast (1991)  3.934426
25                              Lion King, The (1994)  3.907692
11                                  Cinderella (1950)  3.863636
36                                   Toy Story (1995)  3.789916
3                          Alice in Wonderland (1951)  3.741935
31             Snow White and the Seven Dwarfs (1937)  3.740000
5                                    Anastasia (1997)  3.703704
21                                    Hercules (1997)  3.666667
13                                       Dumbo (1941)  3.656250
34                     Sword in the Stone, The (1963)  3.636364
29                                   Pinocchio (1940)  3.482759
22                Hunchback of Notre Dame, The (1996)  3.457143
6                              Aristocats, The (1970)  3.347826
15                      Fox and the Hound, The (1981)  3.285714
35                       Three Caballeros, The (1945)  3.250000
20                                 Heavy Metal (1981)  3.250000
16         Ghost in the Shell (Kokaku kidotai) (1995)  3.250000
7                                        Balto (1995)  3.222222
0                                        Akira (1988)  3.125000
26                            Oliver & Company (1988)  3.125000
10                            Cats Don't Dance (1997)  3.111111
2              Aladdin and the King of Thieves (1996)  3.076923
33                          Swan Princess, The (1994)  3.000000
23                   James and the Giant Peach (1996)  2.971429
30                                  Pocahontas (1995)  2.769231
28                               Pete's Dragon (1977)  2.764706
32                                   Space Jam (1996)  2.666667
17                              Goofy Movie, A (1995)  2.600000
27                             Pagemaster, The (1994)  2.333333
37                Transformers: The Movie, The (1986)  2.333333
9              Beavis and Butt-head Do America (1996)  2.310345
4                      All Dogs Go to Heaven 2 (1996)  2.000000
19                            Gumby: The Movie (1995)  2.000000
24  Land Before Time III: The Time of the Great Gi...  1.000000


Children's female + genre + count

                                       movie_name  count
109                              Toy Story (1995)    119
114  Willy Wonka and the Chocolate Factory (1971)     93
30              E.T. the Extra-Terrestrial (1982)     87
116                      Wizard of Oz, The (1939)     69
69                          Lion King, The (1994)     65
..                                            ...    ...
97                          Simple Wish, A (1997)      1
93     Secret Adventures of Tom Thumb, The (1993)      1
66                                     Kim (1950)      1
48                        Gumby: The Movie (1995)      1
24                                   Buddy (1997)      1

[118 rows x 2 columns]


Children's female + genre + average

                                            movie_name      mean
116                           Wizard of Oz, The (1939)  4.159420
16                                         Babe (1995)  4.050000
115        Winnie the Pooh and the Blustery Day (1968)  4.041667
96                                       Shiloh (1997)  4.000000
33                                     Fantasia (1940)  3.980392
..                                                 ...       ...
99                          So Dear to My Heart (1949)  1.000000
67   Land Before Time III: The Time of the Great Gi...  1.000000
93          Secret Adventures of Tom Thumb, The (1993)  1.000000
66                                          Kim (1950)  1.000000
2          3 Ninjas: High Noon At Mega Mountain (1998)  1.000000

[118 rows x 2 columns]


Comedy female + genre + count

                                       movie_name  count
246                              Liar Liar (1997)    141
423                              Toy Story (1995)    119
162                        Full Monty, The (1997)     98
427           Truth About Cats & Dogs, The (1996)     97
455  Willy Wonka and the Chocolate Factory (1971)     93
..                                            ...    ...
172                                  Gordy (1995)      1
429                              Twin Town (1997)      1
137           Faster Pussycat! Kill! Kill! (1965)      1
130            Even Cowgirls Get the Blues (1993)      1
465            Á köldum klaka (Cold Fever) (1994)      1

[466 rows x 2 columns]


Comedy female + genre + average

                                movie_name      mean
442  Visitors, The (Visiteurs, Les) (1993)  5.000000
137    Faster Pussycat! Kill! Kill! (1965)  5.000000
395                         Stripes (1981)  5.000000
94                   Close Shave, A (1995)  4.631579
373                 Shall We Dance? (1996)  4.529412
..                                     ...       ...
329                  Pie in the Sky (1995)  1.000000
28                          B*A*P*S (1997)  1.000000
30                        Babyfever (1994)  1.000000
72                      Bushwhacked (1995)  1.000000
337      Pyromaniac's Love Story, A (1995)  1.000000

[466 rows x 2 columns]


Crime female + genre + count

                    movie_name  count
26                Fargo (1996)    125
30       Godfather, The (1972)    105
69         Pulp Fiction (1994)     84
51    L.A. Confidential (1997)     76
81           Sting, The (1973)     58
..                         ...    ...
14     City of Industry (1997)      1
44  Innocent Sleep, The (1995)      1
19              Curdled (1996)      1
70          Purple Noon (1960)      1
52       Lashou shentan (1992)      1

[96 rows x 2 columns]


Crime female + genre + average

                               movie_name      mean
93             Usual Suspects, The (1995)  4.333333
76                      Set It Off (1996)  4.250000
66              Once Were Warriors (1994)  4.142857
30                  Godfather, The (1972)  4.133333
51               L.A. Confidential (1997)  4.052632
..                                    ...       ...
48                   Keys to Tulsa (1997)  1.857143
15   Clean Slate (Coup de Torchon) (1981)  1.500000
11  C'est arrivé près de chez vous (1992)  1.000000
89     Truth or Consequences, N.M. (1997)  1.000000
52                  Lashou shentan (1992)  1.000000

[96 rows x 2 columns]


Documentary female + genre + count

                                           movie_name  count
18                                 Hoop Dreams (1994)     21
9                                        Crumb (1994)     16
22                         Looking for Richard (1996)     15
8                        Celluloid Closet, The (1995)     14
37                          When We Were Kings (1996)     11
29                            Paris Is Burning (1990)     10
20                               Koyaanisqatsi (1983)     10
2                        Anne Frank Remembered (1995)      9
14                Fast, Cheap & Out of Control (1997)      8
28  Paradise Lost: The Child Murders at Robin Hood...      7
35                                    Unzipped (1995)      6
23                      Madonna: Truth or Dare (1991)      6
32                         Thin Blue Line, The (1988)      5
17              Heidi Fleiss: Hollywood Madam (1995)       4
36                               War Room, The (1993)      3
33    Thirty-Two Short Films About Glenn Gould (1993)      3
24                             Man of the Year (1995)      3
0                       Across the Sea of Time (1995)      3
16    Haunted World of Edward D. Wood Jr., The (1995)      3
1                               American Dream (1990)      2
15                               Grateful Dead (1995)      2
38  Wonderful, Horrible Life of Leni Riefenstahl, ...      2
26           Microcosmos: Le peuple de l'herbe (1996)      2
27                                   Nico Icon (1995)      2
11                       Endless Summer 2, The (1994)      2
5   Brother Minister: The Assassination of Malcolm...      2
30                              Rhyme & Reason (1997)      2
6       Carmen Miranda: Bananas Is My Business (1994)      1
39                                  Wonderland (1997)      1
3                    Ayn Rand: A Sense of Life (1997)      1
4                                 Big One, The (1997)      1
34         Tigrero: A Film That Was Never Made (1994)      1
10                                    Dadetown (1995)      1
7                                      Catwalk (1995)      1
31                                   Show, The (1995)      1
19                              Jupiter's Wife (1994)      1
25             Maya Lin: A Strong Clear Vision (1994)      1
12                                     Everest (1998)      1
13       Eye of Vichy, The (Oeil de Vichy, L') (1993)      1
21  Last Klezmer: Leopold Kozlowski, His Life and ...      1
40                           Year of the Horse (1997)      1


Documentary female + genre + average

                                           movie_name      mean
40                           Year of the Horse (1997)  5.000000
25             Maya Lin: A Strong Clear Vision (1994)  5.000000
12                                     Everest (1998)  5.000000
2                        Anne Frank Remembered (1995)  4.333333
18                                 Hoop Dreams (1994)  4.333333
28  Paradise Lost: The Child Murders at Robin Hood...  4.285714
8                        Celluloid Closet, The (1995)  4.214286
3                    Ayn Rand: A Sense of Life (1997)  4.000000
27                                   Nico Icon (1995)  4.000000
21  Last Klezmer: Leopold Kozlowski, His Life and ...  4.000000
33    Thirty-Two Short Films About Glenn Gould (1993)  4.000000
19                              Jupiter's Wife (1994)  4.000000
29                            Paris Is Burning (1990)  3.900000
22                         Looking for Richard (1996)  3.800000
32                         Thin Blue Line, The (1988)  3.800000
37                          When We Were Kings (1996)  3.727273
17              Heidi Fleiss: Hollywood Madam (1995)   3.500000
14                Fast, Cheap & Out of Control (1997)  3.500000
15                               Grateful Dead (1995)  3.500000
38  Wonderful, Horrible Life of Leni Riefenstahl, ...  3.500000
35                                    Unzipped (1995)  3.500000
16    Haunted World of Edward D. Wood Jr., The (1995)  3.333333
36                               War Room, The (1993)  3.333333
24                             Man of the Year (1995)  3.333333
9                                        Crumb (1994)  3.312500
20                               Koyaanisqatsi (1983)  3.300000
26           Microcosmos: Le peuple de l'herbe (1996)  3.000000
10                                    Dadetown (1995)  3.000000
5   Brother Minister: The Assassination of Malcolm...  3.000000
4                                 Big One, The (1997)  3.000000
23                      Madonna: Truth or Dare (1991)  2.666667
0                       Across the Sea of Time (1995)  2.666667
1                               American Dream (1990)  2.500000
30                              Rhyme & Reason (1997)  2.500000
31                                   Show, The (1995)  2.000000
13       Eye of Vichy, The (Oeil de Vichy, L') (1993)  1.000000
11                       Endless Summer 2, The (1994)  1.000000
34         Tigrero: A Film That Was Never Made (1994)  1.000000
7                                      Catwalk (1995)  1.000000
6       Carmen Miranda: Bananas Is My Business (1994)  1.000000
39                                  Wonderland (1997)  1.000000


Drama female + genre + count

                                 movie_name  count
177             English Patient, The (1996)    152
117                          Contact (1997)    137
188                            Fargo (1996)    125
292                    Jerry Maguire (1996)    116
236                   Godfather, The (1972)    105
..                                      ...    ...
196  Fille seule, La (A Single Girl) (1995)      1
532                 Somebody to Love (1994)      1
533           Someone Else's America (1995)      1
190     Faster Pussycat! Kill! Kill! (1965)      1
643      Á köldum klaka (Cold Fever) (1994)      1

[644 rows x 2 columns]


Drama female + genre + average

                                        movie_name  mean
449                             Prefontaine (1997)   5.0
363                         Mina Tannenbaum (1994)   5.0
190            Faster Pussycat! Kill! Kill! (1965)   5.0
533                  Someone Else's America (1995)   5.0
560                 Telling Lies in America (1997)   5.0
..                                             ...   ...
616                       Walking Dead, The (1995)   1.0
584                           Total Eclipse (1995)   1.0
167                          Duoluo tianshi (1995)   1.0
70                           Boys in Venice (1996)   1.0
270  I, Worst of All (Yo, la peor de todas) (1990)   1.0

[644 rows x 2 columns]


Fantasy female + genre + count

                              movie_name  count
4      E.T. the Extra-Terrestrial (1982)     87
16           Nutty Professor, The (1996)     39
2                     Dragonheart (1996)     36
11                        Jumanji (1995)     27
14                      Mask, The (1994)     26
19                      Space Jam (1996)     18
8              Heavenly Creatures (1994)     18
7                         Flubber (1997)     16
0    20,000 Leagues Under the Sea (1954)     14
3                  Drop Dead Fred (1991)     13
6         FairyTale: A True Story (1997)     13
13  Kid in King Arthur's Court, A (1995)     10

C:\Users\ache1\AppData\Local\Temp/ipykernel_34048/3712624743.py:18: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  quiz01 = male0[female0[name] == 1]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

* 3_2(female, male)

In [30]:
for name1 in job_list:
 quiz01 = quiz0[quiz0['job'] == name1]
 
 for name in genre_list:
     #quiz01 = quiz01[quiz01[name] == 1]
     group2 = quiz01.groupby('movie_name')['rating'].agg(**{ 'count' : 'count' , 'mean' : 'mean' , 'many': 'max'}).reset_index()
     job2 = group2.sort_values(['count'] , ascending = False)
     print(name + " " + name1  + " count \n")   
     print(job2[['movie_name' , 'count']])
     print("\n")

     job2 = group2.sort_values(['mean'] , ascending = False)
     print(name + " " + name1  +" average \n")   
     print(job2[['movie_name' , 'mean']])
     print("\n")

unknown writer count

                                      movie_name  count
345                                 Fargo (1996)     27
959                             Star Wars (1977)     27
880                                Scream (1996)     27
596                             Liar Liar (1997)     25
844                    Return of the Jedi (1983)     25
...                                          ...    ...
909                             Showgirls (1995)      1
911               Simple Twist of Fate, A (1994)      1
420   Ghost in the Shell (Kokaku kidotai) (1995)      1
416                 Getting Even with Dad (1994)      1
1122                                     unknown      1

[1123 rows x 2 columns]


unknown writer average

                                      movie_name  mean
202                                Caught (1996)   5.0
1088                  Welcome To Sarajevo (1997)   5.0
1100                   White Balloon, The (1995)   5.0
22                          Aiqing wansui (1994)   5.0
863                        Romper Stomper (1992)   5.0
...                                          ...   ...
188       Candyman: Farewell to the Flesh (1995)   1.0
198                          Castle Freak (1995)   1.0
204   Cemetery Man (Dellamorte Dellamore) (1994)   1.0
209   Children of the Corn: The Gathering (1996)   1.0
1122                                     unknown   1.0

[1123 rows x 2 columns]


Action writer count

                                      movie_name  count
345                                 Fargo (1996)     27
959                             Star Wars (1977)     27
880                                Scream (1996)     27
596                             Liar Liar (1997)     25
844                    Return of the Jedi (1983)     25
...                                          ...    ...
909                             Showgirls (1995)      1
911               Simple Twist of Fate, A (1994)      1
420   Ghost in the Shell (Kokaku kidotai) (1995)      1
416                 Getting Even with Dad (1994)      1
1122                                     unknown      1

[1123 rows x 2 columns]


Action writer average

                                      movie_name  mean
202                                Caught (1996)   5.0
1088                  Welcome To Sarajevo (1997)   5.0
1100                   White Balloon, The (1995)   5.0
22                          Aiqing wansui (1994)   5.0
863                        Romper Stomper (1992)   5.0
...                                          ...   ...
188       Candyman: Farewell to the Flesh (1995)   1.0
198                          Castle Freak (1995)   1.0
204   Cemetery Man (Dellamorte Dellamore) (1994)   1.0
209   Children of the Corn: The Gathering (1996)   1.0
1122                                     unknown   1.0

[1123 rows x 2 columns]


Adventure writer count

                                      movie_name  count
345                                 Fargo (1996)     27
959                             Star Wars (1977)     27
880                                Scream (1996)     27
596                             Liar Liar (1997)     25
844                    Return of the Jedi (1983)     25
...                                          ...    ...
909                             Showgirls (1995)      1
911               Simple Twist of Fate, A (1994)      1
420   Ghost in the Shell (Kokaku kidotai) (1995)      1
416                 Getting Even with Dad (1994)      1
1122                                     unknown      1

[1123 rows x 2 columns]


Adventure writer average

                                      movie_name  mean
202                                Caught (1996)   5.0
1088                  Welcome To Sarajevo (1997)   5.0
1100                   White Balloon, The (1995)   5.0
22                          Aiqing wansui (1994)   5.0
863                        Romper Stomper (1992)   5.0
...                                          ...   ...
188       Candyman: Farewell to the Flesh (1995)   1.0
198                          Castle Freak (1995)   1.0
204   Cemetery Man (Dellamorte Dellamore) (1994)   1.0
209   Children of the Corn: The Gathering (1996)   1.0
1122                                     unknown   1.0

[1123 rows x 2 columns]


Animation writer count

                                      movie_name  count
345                                 Fargo (1996)     27
959                             Star Wars (1977)     27
880                                Scream (1996)     27
596                             Liar Liar (1997)     25
844                    Return of the Jedi (1983)     25
...                                          ...    ...
909                             Showgirls (1995)      1
911               Simple Twist of Fate, A (1994)      1
420   Ghost in the Shell (Kokaku kidotai) (1995)      1
416                 Getting Even with Dad (1994)      1
1122                                     unknown      1

[1123 rows x 2 columns]


Animation writer average

                                      movie_name  mean
202                                Caught (1996)   5.0
1088                  Welcome To Sarajevo (1997)   5.0
1100                   White Balloon, The (1995)   5.0
22                          Aiqing wansui (1994)   5.0
863                        Romper Stomper (1992)   5.0
...                                          ...   ...
188       Candyman: Farewell to the Flesh (1995)   1.0
198                          Castle Freak (1995)   1.0
204   Cemetery Man (Dellamorte Dellamore) (1994)   1.0
209   Children of the Corn: The Gathering (1996)   1.0
1122                                     unknown   1.0

[1123 rows x 2 columns]


Children's writer count

                                      movie_name  count
345                                 Fargo (1996)     27
959                             Star Wars (1977)     27
880                                Scream (1996)     27
596                             Liar Liar (1997)     25
844                    Return of the Jedi (1983)     25
...                                          ...    ...
909                             Showgirls (1995)      1
911               Simple Twist of Fate, A (1994)      1
420   Ghost in the Shell (Kokaku kidotai) (1995)      1
416                 Getting Even with Dad (1994)      1
1122                                     unknown      1

[1123 rows x 2 columns]


Children's writer average

                                      movie_name  mean
202                                Caught (1996)   5.0
1088                  Welcome To Sarajevo (1997)   5.0
1100                   White Balloon, The (1995)   5.0
22                          Aiqing wansui (1994)   5.0
863                        Romper Stomper (1992)   5.0
...                                          ...   ...
188       Candyman: Farewell to the Flesh (1995)   1.0
198                          Castle Freak (1995)   1.0
204   Cemetery Man (Dellamorte Dellamore) (1994)   1.0
209   Children of the Corn: The Gathering (1996)   1.0
1122                                     unknown   1.0

[1123 rows x 2 columns]


Comedy writer count

                                      movie_name  count
345                                 Fargo (1996)     27
959                             Star Wars (1977)     27
880                                Scream (1996)     27
596                             Liar Liar (1997)     25
844                    Return of the Jedi (1983)     25
...                                          ...    ...
909                             Showgirls (1995)      1
911               Simple Twist of Fate, A (1994)      1
420   Ghost in the Shell (Kokaku kidotai) (1995)      1
416                 Getting Even with Dad (1994)      1
1122                                     unknown      1

[1123 rows x 2 columns]


Comedy writer average

                                      movie_name  mean
202                                Caught (1996)   5.0
1088                  Welcome To Sarajevo (1997)   5.0
1100                   White Balloon, The (1995)   5.0
22                          Aiqing wansui (1994)   5.0
863                        Romper Stomper (1992)   5.0
...                                          ...   ...
188       Candyman: Farewell to the Flesh (1995)   1.0
198                          Castle Freak (1995)   1.0
204   Cemetery Man (Dellamorte Dellamore) (1994)   1.0
209   Children of the Corn: The Gathering (1996)   1.0
1122                                     unknown   1.0

[1123 rows x 2 columns]


Crime writer count

                                      movie_name  count
345                                 Fargo (1996)     27
959                             Star Wars (1977)     27
880                                Scream (1996)     27
596                             Liar Liar (1997)     25
844                    Return of the Jedi (1983)     25
...                                          ...    ...
909                             Showgirls (1995)      1
911               Simple Twist of Fate, A (1994)      1
420   Ghost in the Shell (Kokaku kidotai) (1995)      1
416                 Getting Even with Dad (1994)      1
1122                                     unknown      1

[1123 rows x 2 columns]


Crime writer average

                                      movie_name  mean
202                                Caught (1996)   5.0
1088                  Welcome To Sarajevo (1997)   5.0
1100                   White Balloon, The (1995)   5.0
22                          Aiqing wansui (1994)   5.0
863                        Romper Stomper (1992)   5.0
...                                          ...   ...
188       Candyman: Farewell to the Flesh (1995)   1.0
198                          Castle Freak (1995)   1.0
204   Cemetery Man (Dellamorte Dellamore) (1994)   1.0
209   Children of the Corn: The Gathering (1996)   1.0
1122                                     unknown   1.0

[1123 rows x 2 columns]


Documentary writer count

                                      movie_name  count
345                                 Fargo (1996)     27
959                             Star Wars (1977)     27
880                                Scream (1996)     27
596                             Liar Liar (1997)     25
844                    Return of the Jedi (1983)     25
...                                          ...    ...
909                             Showgirls (1995)      1
911               Simple Twist of Fate, A (1994)      1
420   Ghost in the Shell (Kokaku kidotai) (1995)      1
416                 Getting Even with Dad (1994)      1
1122                                     unknown      1

[1123 rows x 2 columns]


Documentary writer average

                                      movie_name  mean
202                                Caught (1996)   5.0
1088                  Welcome To Sarajevo (1997)   5.0
1100                   White Balloon, The (1995)   5.0
22                          Aiqing wansui (1994)   5.0
863                        Romper Stomper (1992)   5.0
...                                          ...   ...
188       Candyman: Farewell to the Flesh (1995)   1.0
198                          Castle Freak (1995)   1.0
204   Cemetery Man (Dellamorte Dellamore) (1994)   1.0
209   Children of the Corn: The Gathering (1996)   1.0
1122                                     unknown   1.0

[1123 rows x 2 columns]


Drama writer count

                                      movie_name  count
345                                 Fargo (1996)     27
959                             Star Wars (1977)     27
880                                Scream (1996)     27
596                             Liar Liar (1997)     25
844                    Return of the Jedi (1983)     25
...                                          ...    ...
909                             Showgirls (1995)      1
911               Simple Twist of Fate, A (1994)      1
420   Ghost in the Shell (Kokaku kidotai) (1995)      1
416                 Getting Even with Dad (1994)      1
1122                                     unknown      1

[1123 rows x 2 columns]


Drama writer average

                                      movie_name  mean
202                                Caught (1996)   5.0
1088                  Welcome To Sarajevo (1997)   5.0
1100                   White Balloon, The (1995)   5.0
22                          Aiqing wansui (1994)   5.0
863                        Romper Stomper (1992)   5.0
...                                          ...   ...
188       Candyman: Farewell to the Flesh (1995)   1.0
198                          Castle Freak (1995)   1.0
204   Cemetery Man (Dellamorte Dellamore) (1994)   1.0
209   Children of the Corn: The Gathering (1996)   1.0
1122                                     unknown   1.0

[1123 rows x 2 columns]


Fantasy writer count

                                      movie_name  count
345                                 Fargo (1996)     27
959                             Star Wars (1977)     27
880                                Scream (1996)     27
596                             Liar Liar (1997)     25
844                    Return of the Jedi (1983)     25
...                                          ...    ...
909                             Showgirls (1995)      1
911               Simple Twist of Fate, A (1994)      1
420   Ghost in the Shell (Kokaku kidotai) (1995)      1
416                 Getting Even with Dad (1994)      1
1122                                     unknown      1

[1123 rows x 2 columns]


Fantasy writer average

                                      movie_name  mean
202                                Caught (1996)   5.0
1088                  Welcome To Sarajevo (1997)   5.0
1100                   White Balloon, The (1995)   5.0
22                          Aiqing wansui (1994)   5.0
863                        Romper Stomper (1992)   5.0
...                                          ...   ...
188       Candyman: Farewell to the Flesh (1995)   1.0
198                          Castle Freak (1995)   1.0
204   Cemetery Man (Dellamorte Dellamore) (1994)   1.0
209   Children of the Corn: The Gathering (1996)   1.0
1122                                     unknown   1.0

[1123 rows x 2 columns]


Film-Noir writer count

                                      movie_name  count
345                                 Fargo (1996)     27
959                             Star Wars (1977)     27
880                                Scream (1996)     27
596                             Liar Liar (1997)     25
844                    Return of the Jedi (1983)     25
...                                          ...    ...
909                             Showgirls (1995)      1
911               Simple Twist of Fate, A (1994)      1
420   Ghost in the Shell (Kokaku kidotai) (1995)      1
416                 Getting Even with Dad (1994)      1
1122                                     unknown      1

[1123 rows x 2 columns]


Film-Noir writer average

                                      movie_name  mean
202                                Caught (1996)   5.0
1088                  Welcome To Sarajevo (1997)   5.0
1100                   White Balloon, The (1995)   5.0
22                          Aiqing wansui (1994)   5.0
863                        Romper Stomper (1992)   5.0
...                                          ...   ...
188       Candyman: Farewell to the Flesh (1995)   1.0
198                          Castle Freak (1995)   1.0
204   Cemetery Man (Dellamorte Dellamore) (1994)   1.0
209   Children of the Corn: The Gathering (1996)   1.0
1122                                     unknown   1.0

[1123 rows x 2 columns]


Horror writer count

                                      movie_name  count
345                                 Fargo (1996)     27
959                             Star Wars (1977)     27
880                                Scream (1996)     27
596                             Liar Liar (1997)     25
844                    Return of the Jedi (1983)     25
...                                          ...    ...
909                             Showgirls (1995)      1
911               Simple Twist of Fate, A (1994)      1
420   Ghost in the Shell (Kokaku kidotai) (1995)      1
416                 Getting Even with Dad (1994)      1
1122                                     unknown      1

[1123 rows x 2 columns]


Horror writer average

                                      movie_name  mean
202                                Caught (1996)   5.0
1088                  Welcome To Sarajevo (1997)   5.0
1100                   White Balloon, The (1995)   5.0
22                          Aiqing wansui (1994)   5.0
863                        Romper Stomper (1992)   5.0
...                                          ...   ...
188       Candyman: Farewell to the Flesh (1995)   1.0
198                          Castle Freak (1995)   1.0
204   Cemetery Man (Dellamorte Dellamore) (1994)   1.0
209   Children of the Corn: The Gathering (1996)   1.0
1122                                     unknown   1.0

[1123 rows x 2 columns]


Musical writer count

                                      movie_name  count
345                                 Fargo (1996)     27
959                             Star Wars (1977)     27
880                                Scream (1996)     27
596                             Liar Liar (1997)     25
844                    Return of the Jedi (1983)     25
...                                          ...    ...
909                             Showgirls (1995)      1
911               Simple Twist of Fate, A (1994)      1
420   Ghost in the Shell (Kokaku kidotai) (1995)      1
416                 Getting Even with Dad (1994)      1
1122                                     unknown      1

[1123 rows x 2 columns]


Musical writer average

                                      movie_name  mean
202                                Caught (1996)   5.0
1088                  Welcome To Sarajevo (1997)   5.0
1100                   White Balloon, The (1995)   5.0
22                          Aiqing wansui (1994)   5.0
863                        Romper Stomper (1992)   5.0
...                                          ...   ...
188       Candyman: Farewell to the Flesh (1995)   1.0
198                          Castle Freak (1995)   1.0
204   Cemetery Man (Dellamorte Dellamore) (1994)   1.0
209   Children of the Corn: The Gathering (1996)   1.0
1122                                     unknown   1.0

[1123 rows x 2 columns]


Mystery writer count

                                      movie_name  count
345                                 Fargo (1996)     27
959                             Star Wars (1977)     27
880                                Scream (1996)     27
596                             Liar Liar (1997)     25
844                    Return of the Jedi (1983)     25
...                                          ...    ...
909                             Showgirls (1995)      1
911               Simple Twist of Fate, A (1994)      1
420   Ghost in the Shell (Kokaku kidotai) (1995)      1
416                 Getting Even with Dad (1994)      1
1122                                     unknown      1

[1123 rows x 2 columns]


Mystery writer average

                                      movie_name  mean
202                                Caught (1996)   5.0
1088                  Welcome To Sarajevo (1997)   5.0
1100                   White Balloon, The (1995)   5.0
22                          Aiqing wansui (1994)   5.0
863                        Romper Stomper (1992)   5.0
...                                          ...   ...
188       Candyman: Farewell to the Flesh (1995)   1.0
198                          Castle Freak (1995)   1.0
204   Cemetery Man (Dellamorte Dellamore) (1994)   1.0
209   Children of the Corn: The Gathering (1996)   1.0

* 3_3(job)